/**
 * @description 快捷样式
 */

html {
  body {
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    padding: 0;
    overflow: hidden;
    font-size: var(--default-font-size);
    font-family: "PingFang SC", Arial, "Microsoft YaHei", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    /*a标签 */
    a {
      text-decoration: none;
    }

    /*图片 */
    img {
      object-fit: cover;

      &[src=""],
      &:not([src]) {
        opacity: 0;
      }
    }
  }
}
// 新增
//flex
@for $copies from 1 through 12 {
  .v-flex-#{$copies} {
    flex: $copies;
  }
}

$base-percent: 1%;
// 宽度百分比
@for $percent from 1 through 100 {
  .v-w-#{$percent} {
    width: $percent * $base-percent;
  }
}

//高度百分比
@for $percent from 1 through 100 {
  .v-h-#{$percent} {
    height: $percent * $base-percent;
  }
}

// 定义内外边距，历遍1-80
@for $i from 0 through 80 {
  // 只要双数和能被5除尽的数
  @if $i % 2 == 0 or $i % 5 == 0 {
    // 得出：v-margin-30或者v-m-30
    .v-margin-#{$i},
    .v-m-#{$i} {
      margin: $i + px !important;
    }

    // 得出：v-padding-30或者v-p-30
    .v-padding-#{$i},
    .v-p-#{$i} {
      padding: $i + px !important;
    }

    // 定义上下外边距
    .v-m-tb-#{$i} {
      margin: $i + px 0 !important;
    }
    // 定义左右外边距
    .v-m-lr-#{$i} {
      margin: 0 $i + px !important;
    }
    // 定义上下内边距
    .v-p-tb-#{$i} {
      padding: $i + px 0 !important;
    }
    // 定义左右内边距
    .v-p-lr-#{$i} {
      padding: 0 $i + px !important;
    }

    // 自动左外边距
    .v-m-l-auto {
      margin-left: auto;
    }

    // 自动右外边距
    .v-m-r-auto {
      margin-right: auto;
    }

    @each $short, $long in l left, t top, r right, b bottom {
      // 缩写版，结果如： v-m-l-30
      // 定义外边距
      .v-m-#{$short}-#{$i} {
        margin-#{$long}: $i + px !important;
      }

      // 定义内边距
      .v-p-#{$short}-#{$i} {
        padding-#{$long}: $i + px !important;
      }

      // 完整版，结果如：v-margin-left-30
      // 定义外边距
      .v-margin-#{$long}-#{$i} {
        margin-#{$long}: $i + px !important;
      }

      // 定义内边距
      .v-padding-#{$long}-#{$i} {
        padding-#{$long}: $i + px !important;
      }
    }
  }
}

@for $i from 9 to 60 {
  .v-font-#{$i} {
    font-size: $i + px;
  }
  .fs-#{$i} {
    font-size: $i + px;
  }
}
.v-flex {
  display: flex;
  align-items: center;
}
.v-flex-col {
  display: flex;
  flex-direction: column;
}
.v-flex-wrap {
  flex-wrap: wrap;
}

.v-flex-nowrap {
  flex-wrap: nowrap;
}

.v-col-center {
  align-items: center;
}

.v-col-top {
  align-items: flex-start;
}

.v-col-bottom {
  align-items: flex-end;
}

.v-row-center {
  justify-content: center;
}

.v-row-left {
  justify-content: flex-start;
}

.v-row-right {
  justify-content: flex-end;
}

.v-row-between {
  justify-content: space-between;
}

.v-row-around {
  justify-content: space-around;
}

.v-font-bold {
  font-weight: bold;
}
.v-type-info {
  color: #909399;
}
//对齐
@each $var in (left, center, right) {
  .v-text-#{$var} {
    text-align: $var !important;
  }
}

@for $i from 1 through 5 {
  .v-line-#{$i} {
    // vue下，单行和多行显示省略号需要单独处理
    @if $i == 1 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    } @else {
      display: -webkit-box !important;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      -webkit-line-clamp: $i;
      -webkit-box-orient: vertical !important;
    }
  }
}
.v-avatar {
  width: 36px !important;
  height: 36px !important;
  border-radius: 2px !important;
}

.readonly-mask {
  pointer-events: none;
}
.operational {
  pointer-events: all;
}
